* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(111deg, rgba(0, 235, 216, 1) 0%, rgba(1, 41, 141, 1) 100%);
}

h1 {
    font-size: 25px;
}

.logo {
    max-width: 100px;
    margin: 10px 0px 0px 10px;
}

.searchbar {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.input-cont {
    font-size: 20px;
    padding: 5px;
    border: 2px solid rgba(54, 54, 130, 0.6);
    border-radius: 20px;
    position: relative;
    width: 300px;
}

@media screen and (min-Width:300px) and (max-Width:500px) {
    .input-cont {
        width: 250px;
    }
    h1 {
        font-size: 20px;
    }
}

.btn {
    font-size: 15px;
    border: none;
    position: relative;
    right: 40px;
    padding: 5px;
    background-color: transparent;
}

.btn:active {
    transform: scale(.8);
}

.count {
    text-align: center;
}

.main-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

@media screen and (min-Width:300px) and (max-Width:500px) {
    .main-cont {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

.main-item-cont {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: transparent;
    height: 500px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transition: 0.3s all ease;
}

.main-item-cont:hover {
    transform: scale(.8);
}

.title {
    font-family: "Comic Sans MS", cursive;
    color: white;
}

.img {
    width: 700px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

@media screen and (max-Width:1024px) {
    .img {
        width: 450px;
    }
}

@media screen and (max-Width:768px) {
    .img {
        width: 320px;
    }
}

@media screen and (min-Width:300px) and (max-Width:500px) {
    .img {
        width: 400px;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.sub-title {
    padding: 3px 0px;
}